{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block page_title %}<title>COPA - Container Orchestration and Provisioning Architecture</title>{% endblock %}
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'monitor/dist/components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/dist/components/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/dist/components/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/dist/css/skins/_all-skins.min.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/dist/components/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/css/pool.css' %}">
  <link rel="stylesheet" href="{% static 'monitor/css/index.css' %}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <!-- Highcharts dependencies -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body class="hold-transition skin-purple sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <img src="{% static 'monitor/images/logos/ball.png' %}" class="logo-mini" style="height: 90%; padding-top: 5px; padding-left: 5px" alt="Logo Image">
        <!-- logo for regular state and mobile devices -->
        <img src="{% static 'monitor/images/logos/copa_logo_white.png' %}" class="img-responsive" style="height: 90%; padding-top: 5px" alt="Logo Image">

      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Navigation Menu</li>
          <li class="tree active">
            <a href="{{ '/monitor/' }}"><i class="fa fa-align-justify"></i><span>Container Pools</span></a>
            <ul class="treeview-menu">

              {% for pool in pools_names %}
              <li><a href="{{ '/monitor/pool/'|add:pool.name }}">{{ pool.name }}</a></li>
              {% endfor %}

            </ul>
          </li>
          <li class="tree active">
            <a href="{{ '/core/orchestration' }}"><i class="fa fa-wrench"></i><span>Orchestration</span></a>
          </li>
          <li id="alert-test" class="tree active">
            <a href="#"><i class="fa fa-plus"></i><span>Extra Resources</span></a>
          </li>
          <li class="tree active">
            <a href="{{ '/monitor/about' }}"><i class="fa fa-info-circle"></i><span>About</span></a>
          </li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <div class="notification-box"></div>
    {% block content_body %}{% endblock %}

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs" style="color: #0d47a1">
        design by azbardini
      </div>
      <!-- Default to the left -->
      <strong>COPA &copy; is offered by <a href="http://www.ict-futebol.org.br/">FUTEBOL</a>.</strong>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane active" id="control-sidebar-home-tab">

        </div>
        <!-- /.tab-pane -->
        <!-- Stats tab content -->
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        <!-- /.tab-pane -->
        <!-- Settings tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">

        </div>
        <!-- /.tab-pane -->
      </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="{% static 'monitor/dist/components/jquery/dist/jquery.min.js' %}"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="{% static 'monitor/dist/components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'monitor/dist/js/adminlte.min.js' %}"></script>
  <script src="{% static 'monitor/js/menu.js' %}"></script>
</body>

</html>