{% extends "base.html" %}
{% load staticfiles %}
{% block content_body %}

<section class="content container-fluid">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">
            <span>Orchestration Algorithms</span>
        </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
            <h3 class="box-title">Uploaded Algorithms</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr>
                        <th>Algorithm Name</th>
                        <th>File</th>
                        <th>Status</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>Treshold CPU</td>
                        <td>thresh.sh</td>
                        <td><span class="label label-danger">Algorithm Stopped</span></td>
                        <td style="font-size: 16px">
                            <a href="#"><i title="Run Algorithm" style="color: #00a65a" class="fa fa-fw fa-play"></i></a>
                            <a href="#"><i title="Stop Algorithm" style="color: #ff4b39" class="fa fa-fw fa-stop"></i></a>
                            <div class="btn-group" style="padding-bottom: 3px">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i title="Delete Algorithm"
                                style="color: #222222;" class="fa fa-fw fa-trash"></i></a>
                            <ul class="dropdown-menu box-body">
                                <li>Are you sure to delete this algorithm?</li><br>
                                <li><a href="#" style="color: red">Yes, delete.</a></li>
                            </ul>
                            </div>
                        </td>
                        </tr>
                        <tr>
                        <td>Treshold RAM</td>
                        <td>threshRAM.py</td>
                        <td><span class="label label-success">Algorithm Running</span></td>
                        <td style="font-size: 16px">
                            <a href="#"><i title="Run Algorithm" style="color: #00a65a" class="fa fa-fw fa-play"></i></a>
                            <a href="#"><i title="Stop Algorithm" style="color: #ff4b39" class="fa fa-fw fa-stop"></i></a>
                            <div class="btn-group" style="padding-bottom: 3px">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i title="Delete Algorithm"
                                style="color: #222222;" class="fa fa-fw fa-trash"></i></a>
                            <ul class="dropdown-menu box-body">
                                <li>Are you sure to delete this algorithm?</li><br>
                                <li><a href="#" style="color: red">Yes, delete.</a></li>
                            </ul>
                            </div>
                        </td>
                        </tr>
                        <tr>
                        <td>>Nice AI</td>
                        <td>binaryai</td>
                        <td><span class="label label-danger">Algorithm Stopped</span></td>
                        <td style="font-size: 16px">
                            <a href="#"><i title="Run Algorithm" style="color: #00a65a" class="fa fa-fw fa-play"></i></a>
                            <a href="#"><i title="Stop Algorithm" style="color: #ff4b39" class="fa fa-fw fa-stop"></i></a>
                            <div class="btn-group" style="padding-bottom: 3px">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i title="Delete Algorithm"
                                style="color: #222222;" class="fa fa-fw fa-trash"></i></a>
                            <ul class="dropdown-menu box-body">
                                <li>Are you sure to delete this algorithm?</li><br>
                                <li><a href="#" style="color: red">Yes, delete.</a></li>
                            </ul>
                            </div>
                        </td>
                        </tr>

                    </tbody>
                    </table>
            </div>
            <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            <a href="#" class="btn btn-sm btn-info btn-flat pull-left">Create New Algorithm</a>
            <!--   <a href="#" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a> -->

            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">

        <div class="box box-primary">
            <div class="box-header with-border">
            <h3 class="box-title">Upload a New Algorithm</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
            <div class="box-body">
                <div class="form-group">
                <label for="algName">Algorithm Name</label>
                <input type="text" class="form-control" id="algName" placeholder="My Algorithm">
                </div>

                <div class="form-group">
                <label for="exampleInputFile">

                </label>
                <input type="file" id="exampleInputFile">

                <p class="help-block">You can upload shell, python3 and binary files.</p>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-sm btn-info btn-flat pull-left">Submit</button>
            </div>
            </form>
        </div>
        </div>
    </div>

</section>

{% endblock %}