{% extends "base.html" %}
{% load staticfiles %}
{% block content_body %}

<section class="content container-fluid">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">
            <span>About</span>
        </h4>
        </div>
    </div>

</section>

{% endblock %}