{% extends "base.html" %}
{% load staticfiles %}
{% block content_body %}


<section class="content container-fluid">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">General Info</h4>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12">

        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>
              {{ overview.pools }}
            </h3>
            <h5>Container Pools</h5>
          </div>
          <div class="icon">
            <i class="fa  fa-cubes"></i>
          </div>
          <a href="#" class="small-box-footer">
            <i class="fa fa-arrow-circle-down"></i>
          </a>
        </div>

      </div>

      

      <div class="col-md-4 col-sm-6 col-xs-12">

        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ overview.containers }}</h3>
            <h5>Total Containers</h5>
          </div>
          <div class="icon">
            <i class="fa  fa-cube"></i>
          </div>
          <a href="#" class="small-box-footer">
            <i class="fa fa-arrow-circle-down"> </i>
          </a>
        </div>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">

        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ overview.resources }}</h3>
            <h5>Resources</h5>
          </div>
          <div class="icon">
            <i class="fa  fa-plus"></i>
          </div>
          <a href="#" class="small-box-footer">
            View Resources <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>

      </div>


    </div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">
          <span>Pools Dashboard</span>
        </h4>
      </div>
    </div>

    {% for pool in pools %}
    <div class="row">
      <div data-id="{{ pool.id }}" class="pool col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <a href="{{ '/monitor/pool/'|add:pool.name }}">
              <h3 class="box-title">{{ pool.name }}</h3>
            </a>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">

            <div class="row">

              <div class="col-md-3 col-sm-6 col-xs-12">

                <!-- Box Comment -->
                <div class="box box-widget">
                  <div class="box-header with-border">
                    <div class="user-block">
                      <span class="username">CPU Usage</span>
                    </div>
                  </div>
                  <div class="box-body">
                      <div id="{{ pool.id }}-cpu"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Box Comment -->
                <div class="box box-widget">
                  <div class="box-header with-border">
                    <div class="user-block">
                      <span class="username">RAM Usage</span>
                    </div>
                  </div>
                  <div class="box-body">
                      <div id="{{ pool.id }}-ram"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Box Comment -->
                <div class="box box-widget">
                  <div class="box-header with-border">
                    <div class="user-block">
                      <span class="username">Network Workload</span>
                    </div>
                  </div>
                  <div class="box-body">
                      <div id="{{ pool.id }}-net"></div>
                  </div>
                </div>
              </div>


              <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Box Comment -->
                <div class="box box-widget">
                  <div class="box-header with-border">
                    <div class="user-block">
                      <span class="username">Fast Action</span>
                    </div>
                  </div>
                  <div style="color:#616161" class="small-box bg-white">
                    <div class="inner">
                      <h3>{{ pool.containers|length }}</h3>
                      <h5>Containers</h5>
                    </div>
                    <div class="icon">
                      <i class="fa fa-cube" style="color: #616161"></i>
                    </div>
                    <a pool="{{ pool.name }} href="#" class="cntr-create small-box-footer" style="background-color:#616161"data-toggle="modal" data-target="#modal-newcont">
                      <span>Start New Container</span>
                      <i class="fa fa-arrow-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>


            </div>


          </div>
          <!-- /.box-body -->
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    {% endfor %}

    <div class="modal fade" id="modal-newcont">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">
                Create New Container</h4>
              <span>You are about to create a new containar in this pool. </span>
              <div class="modal-body">
                <div class="row">
                  <label>Container Name</label>
                  <input id="modal-cntr-name" class="form-control" type="text" placeholder="Container Name">
                  <br>
                  <div class="form-group">
                    <label>Distro</label>
                    <select id="modal-cntr-images" class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                      <option>Ubuntu 16</option>
                      <option>Ubuntu 18</option>
                      <option>Alpine</option>
                      <option>Cent OS</option>
                    </select>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.box-body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="button" class="cntr-create-submit btn btn-info pull-right" data-dismiss="modal">Create</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

  </section>
  <script src="{% static 'monitor/js/index.js' %}"></script>
  <script src="{% static 'monitor/js/chart_config.js' %}"></script>

{% endblock %}
