{% extends "base.html" %} {% load staticfiles %} {% block content_body %}

<section class="content container-fluid">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">{{pool.name}}
            Info</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            Data time interval in minutes:
            <select id="chart-data-interval" name = "dropdown">
                <option value = "1" selected>1 minutes</option>
                <option value = "5">5 minutes</option>
                <option value = "10">10 minutes</option>
                <option value = "0">All data</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Resources Monitoring</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    <span class="username">CPU Usage</span>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="chart-cpu"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    <span class="username">RAM Usage</span>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="chart-ram"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    <span class="username">Network Workload</span>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="chart-net"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="optltebox" class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Optical and LTE Monitoring</h3>
                    <div class="box-tools pull-right">
                        <button id="optltecollapse" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    <span class="username">Optical Workload</span>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="chart-optical"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    <span class="username">LTE SNR per device</span>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="chart-lte"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Containers in this Pool</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% if containers %}
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Container Name</th>
                                        <!-- <th>CPU</th>
                    <th>RAM</th> -->
                                        <th>Status</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for container in containers %}
                                    <tr container="{{ container.name }}" pool="{{ pool.name }}">
                                        <td>{{ container.name }}</td>
                                        <!-- <td>Chart</td>
                    <td>Chart</td> -->
                                        <td><span {% if container.status == "Running" %} class="cntr-status label label-success" {% else %} class="cntr-status label label-danger" {% endif %}>{{ container.status }}</span></td>
                                        <td class="cntr-btns" style="font-size: 16px">

                                            <a operation="stop" class="cntr-operation {% if container.status != "Running" %} hide {% endif %}"><i title="Stop Container" style="color: #ff4b39" class="fa fa-fw fa-stop"></i></a>
                                            <a operation="start" class="cntr-operation {% if container.status == "Running" %} hide {% endif %}"><i title="Start Container" style="color: #00a65a" class="fa fa-fw fa-play"></i></a>
                                            <a operation="migrate" class="cntr-migrate"><i title="Migrate  Container" style="color: #f39c12" class="fa fa-fw fa-paper-plane"
                            data-toggle="modal" data-target="#modal-migration"></i></a>

                                            <a operation="delete" class="cntr-operation {% if container.status == "Running" %} hide {% endif %}"><i title="Delete Container" style="color: #222222" class="fa fa-fw fa-trash"></i></a>

                        </div>
                        </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                        </table>
                    </div>
                    {% else %} No containers {% endif %}
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a pool="{{ pool.name }}" href="#" class="cntr-create btn btn-sm btn-info btn-flat pull-left" data-toggle="modal" data-target="#modal-newcont">Start
                New Container</a>
                    <!--   <a href="#" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a> -->

                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Networking to Pools</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if neighbors %}
                    <div class="row">

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <!-- Box Comment -->
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username">Round-trip Time (RTT)</span>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="chart-rtt"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <!-- Box Comment -->
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <span class="username">Jiiter</span>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="chart-jitter"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="box-body">
                                <div class="user-block">
                                    <span class="username">Pool</span>
                                </div>
                                <br>
                                <form role="form">
                                    <div class="form-group">
                                        {% for neighbor in neighbors %}
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="neighbors" value="{{ neighbor }}"> {{ neighbor }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    {% else %} No neighbors {% endif %}
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <div class="modal fade" id="modal-migration">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">
                Container Migration</h4>
                    <span>You are migrating a container to a new pool. </span>
                    <span>Once the migration starts, the services on this container might become unstable.</span>
                    <span>As soon as the migration process is finished, the container must be running in the selected Pool.</span>
                </div>
                <div class="modal-body">
                    {% if neighbors %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">
                    Select the destination</h4>
                            <div class="box box-widget">
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin">
                                            <thead>
                                                <tr>
                                                    <th>Destination Pool:</th>
                                                    <th>CPU</th>
                                                    <th>RAM</th>
                                                    <th>Network Workload</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dest-pools" container="" source_pool="">
                                                {% for neighbor in neighbors %}
                                                <tr>
                                                    <td>
                                                        <a href="#" class="cntr-migrate-dest dropdown-toggle" data-toggle="dropdown" value="{{ neighbor }}">{{ neighbor }}</a>
                                                    </td>
                                                    <td>Chart</td>
                                                    <td>Chart</td>
                                                    <td>Chart</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    {% else %} No neighbors {% endif %}
                </div>
                <div class="modal-footer">
                    <button pool="" type="button" class="cntr-create-submit btn btn-default pull-left" data-dismiss="modal">Cancel Migration</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-newcont">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="subtitle" style="border-bottom: 2px solid gainsboro; padding-bottom: 10px">
                Create New Container</h4>
                    <span>You are about to create a new containar in this pool. </span>
                    <div class="modal-body">
                        <div class="row">
                            <label>Container Name</label>
                            <input id="modal-cntr-name" class="form-control" type="text" placeholder="Container Name">
                            <br>
                            <div class="form-group">
                                <label>Distro</label>
                                <select id="modal-cntr-images" class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                                    <option>Ubuntu 16</option>
                                    <option>Ubuntu 18</option>
                                    <option>Alpine</option>
                                    <option>Cent OS</option>
                                </select>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="cntr-create-submit btn btn-info pull-right" data-dismiss="modal">Create</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</section>

<script src="{% static 'monitor/js/pool.js' %}"></script>
<script src="{% static 'monitor/js/chart_config.js' %}"></script>

{% endblock %}